.context-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ctx-menu-item {
  align-items: center;
  color: #191919;
  cursor: pointer;
  display: flex;
  font-family: Nunito, Open Sans, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  justify-content: flex-start;
  padding: 0.5rem 0;
  position: relative;
  text-align: left;

  &:hover {
    background: #007ee5;
    color: #fff;
  }

  span {
    margin-left: 0.5rem;
  }

  i {
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 1rem;
  }

  img {
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    width: 100%;
  }
}

.ctx-menu-icon {
  height: 1.2rem;
  width: 1.2rem;

  svg {
    height: 100%;
    width: 100%;
  }
}
