.context-menu {
  list-style: none;
  margin: 0;
  // padding: 0.25rem;
  color: #2B2D42;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  
  .ctx-menu-item {
    padding: 1rem 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 700;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:hover {
      background: rgba(0,0,0,0.1);
      // background: #8D99AE;
    }
    span {
      margin-left: 0.5rem;
    }
    i {
      width: 2rem;
      height: 2rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      img {
        object-fit: contain;
        object-position: 50% 50%;
        height: 100%;
        width: 100%;
      }
    }
  }
}
