.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: none;
  background: linear-gradient(
    45deg,
    rgba(237, 242, 244, 0.1) 0%,
    rgba(141, 153, 174, 0.5) 100%
  );

  .popup-header {
    width: 100%;
    padding: 0.3rem 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    margin-bottom: 0.2rem;
    position: relative;
    background: #007ee5;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup-title {
      display: block;
      font-weight: 400;
      max-width: 100%;
      overflow: hidden;
      text-align: left;
      padding: 0.35rem 0.75rem;
      font-size: 1.1rem;
      color: #fff;
    }
  }

  .popup-container {
    // padding: 0.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 4px;
    width: 600px;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 3.6rem;
      // background: #AE8D99;
      left: 0;
      top: 0;
    }
  }
  .popup-content {
    width: 100%;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .closebutton-wrapper {
    position: absolute;
    z-index: 100;
    top: -8px;
    right: -2px;
    border-radius: 50%;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 2.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .close-modal {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: auto;
    margin-right: 0.25rem;
  }
  .img-close {
    width: 1.2rem;
    height: 1.2rem;
  }
}
