  .popup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: none;
  .popup-header {
    width: 100%;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 1rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      width: 100%;
      height: 1px;
      background: #EDF2F4;
      left: 0;
    }
    .popup-title {
      display: block;
      font-weight: 700;
      max-width: 100%;
      overflow: hidden;
      text-align: left;
      padding: 0.5rem 0.5rem;
      font-size: 1rem;
      color: #2B2D42;
    }
  }

  .popup-container {
    /* padding: 1rem 1rem 0.5rem 1rem; */
    padding: 0.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 4px;
    min-width: 400px;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
    &::before {
      content: "";
      position: absolute;
      width: 0.2rem;
      height: 3.65rem;
      background: #EF233C;
      left: 0;
      top: 0;
    }
  }
  .popup-content {
    width: 100%;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .closebutton-wrapper {
    position: absolute;
    z-index: 100;
    top: -8px;
    right: -11px;
    border-radius: 50%;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 2.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
