.explorer-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 0.5rem;
  align-items: start;
  width: 100%;
  @media only screen and (min-width: 1224px) {
    grid-template-columns: 25% 75%;
    grid-column-gap: 0.75rem;
  }

  @media only screen and (min-width: 1824px) {
    grid-column-gap: 0.75rem;
    grid-template-columns: 15% 85%;
  }
  @media only screen and (max-width: 992px) {
    grid-template-columns: 36% 64%;
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    grid-column-gap: 0rem;
    grid-template-columns: 100%;
  }
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
    grid-column-gap: 0rem;
    grid-template-columns: 100%;
  }
}
.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  height: 100%;
  width: 100%;
}
.explorer {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  position: relative;
  .line-item-wrapper {
    &:nth-child(odd) {
      background: rgba(0, 0, 0, 0.02);
    }
  }
}
.explorer-content {
  min-height: 350px;
}
header {
  width: 100%;
  position: relative;
  margin: 0;

  .header-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 20% 20% auto;
    @media (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: 50% 30% auto;
    }
    @media (min-width: 481px) and (max-width: 767px) {
      grid-template-columns: 50% 30% auto;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      grid-template-columns: 50% 30% auto;
    }
    list-style-type: none;
    margin: 0;
    padding: 0.75rem 0;
    border-bottom: 1px solid #007ee5;
    li {
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: left;
      padding-left: 0.5rem;
      justify-self: left;
      color: #007ee5;
      &.name {
        flex: 2;
      }
      &.size {
        flex: 1;
      }
      &.modified {
        flex: 1;
        @media (min-width: 320px) and (max-width: 480px) {
          display: none;
        }
        @media (min-width: 481px) and (max-width: 767px) {
          display: none;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          display: none;
        }
      }
      &.empty {
        flex: 1;
      }
    }
  }
}
.info-message {
  font-size: 1.75rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  color: #c6c6c6;
}
.ctx-control-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  /* border: 1px solid #007ee5; */
  border-radius: 50%;
  background: #b3b3b3;
}
.tree-view-wrapper {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.25rem;
  overflow-x: auto;
  header {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #007ee5;
    span {
      padding: 0.5rem 0.5rem;
      width: 100%;
      text-align: left;
    }
  }
  .tree-view-content {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .file-explorer-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    margin-right: 0.25rem;
  }
}
