.explorer-container {
  display: grid;
  column-gap: 2rem;
  align-items: start;
  padding: 0.2rem 1rem 1rem;
  @media (min-width: 1281px) {
    column-gap: 2rem;
    grid-template-columns: 1fr 6fr;
  }
  @media screen and (min-width: 1400px) {
    // grid-template-columns: 1fr 3fr;
  }
  @media screen and (min-width: 1600px) {
    // grid-template-columns: 1fr 4fr;
  }
  @media screen and (min-width: 1900px) {
    // grid-template-columns: 1fr 3fr;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    // grid-column-gap: 1rem;
    // grid-template-columns: 1fr 2fr;
  }
  @media only screen and (max-width: 992px) {
    grid-template-columns: 100%;
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    grid-column-gap: 0rem;
    grid-template-columns: 100%;
  }
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
    grid-column-gap: 0rem;
    grid-template-columns: 100%;
  }
}
.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  height: 100%;
  width: 100%;
}
.explorer {
  background: #fff;
  border-radius: .2rem;
  width: 100%;
  position: relative;
  box-shadow: 0 0 12px 2px rgba($color: #000000, $alpha: 0.2);
  .line-item-wrapper {
    &:nth-child(odd) {
      background: #f2f2f2;
    }
  }
}
.explorer-content {
  min-height: 650px;
}
header.explorer-header {
  width: 100%;
  position: relative;
  margin: 0;
  // background: #2b2d42;
  background: #007ee5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  .header-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 45% 20% 20% auto;
    @media (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: 40px 50% 30% auto;
    }
    @media (min-width: 481px) and (max-width: 767px) {
      grid-template-columns: 40px 50% 30% auto;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      grid-template-columns: 40px 50% 30% auto;
    }
    list-style-type: none;
    margin: 0;
    padding: 0.55rem 0;
    // border-bottom: 1px solid #8D99AE;
    .header {
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 500;
      text-align: left;
      padding-left: 0rem;
      justify-self: left;
      align-self: center;
      color: #edf2f4;
      position: relative;
      width: 100%;
      &.control {
        flex: 1;
        justify-self: center;
        align-self: center;
      }
      &.name {
        flex: 2;
      }
      &.size {
        flex: 1;
      }
      &.modified {
        flex: 1;
        @media (min-width: 320px) and (max-width: 480px) {
          display: none;
        }
        @media (min-width: 481px) and (max-width: 767px) {
          display: none;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          display: none;
        }
      }
      &.empty {
        flex: 1;
      }
    }
  }
}
.info-message {
  font-size: 1.75rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  color: #c6c6c6;
}
.ctx-control-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 5px;
}

.load-more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 2rem;
  a {
    color: #2b2d42;
  }
}

.list-fade-enter-active,
.list-fade-leave-active {
  opacity: 1;
  transition: all 0.3s;
}
.list-fade-enter,
.list-fade-leave-to {
  opacity: 0;
}
.list-fade-move {
  transform: 0.4s;
}
