.popdown-wrapper {
  position: relative;

  button {
    display: flex;
    height: 2rem;
    width: 3rem;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.popdown {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.1rem;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.2));
  margin-left: auto;
  margin-right: auto;
  outline: none;
  position: absolute;
  top: 2.5rem;
  z-index: 1999;
}

.movein-enter-active,
.movein-leave-active {
  opacity: 1;
  transition: opacity 0.1s;
}

.movein-enter,
.movein-leave-to {
  opacity: 0;
}
