.popdown-wrapper {
  position: relative;
}

.popdown {
  z-index: 1999;
  position: absolute;
  top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  background: #fff;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
  border-radius: .2rem;
  outline: none;
  border: 1px solid #ddd;
}

.movein-enter-active,
.movein-leave-active {
  transition: all 0.2s;
  transform: translateY(0%);
}
.movein-enter, .movein-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(10%);
}
