.loader-wrapper {
  align-items: center;
  color: #007ee5;
  display: flex;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  svg {
    height: 100%;
    width: 100%;
  }
}

.spinner {
  align-items: center;
  animation: loading 1.5s linear infinite;
  display: flex;
  justify-content: center;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.throbbing-loader {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.throb-ball {
  border-radius: 50%;
  height: 10px;
  width: 10px;

  &.active {
    animation-direction: alternate;
    animation-duration: 1s;
    // animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: throb;
    animation-timing-function: ease-in;
  }
}

.throb-ball-msg {
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

@keyframes throb {
  from {
    background-color: #4bb543;
    // opacity: 1;
  }

  to {
    background: #fff;
    // opacity: 0;
  }
}
