.loader-wrapper {
  align-items: center;
  color: #007ee5;
  display: flex;
  justify-content: center;
  
  svg {
    height: 100%;
    width: 100%;
  }
}

.spinner {
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.throbbing-loader {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.throb-ball {
  background: #4bb543;
  border-radius: 50%;
  height: 8px;
  width: 8px;

  &.active {
    animation-direction: alternate;
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: throb;
    animation-timing-function: ease-in;
  }
}

.throb-ball-msg {
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

@keyframes throb {
  from {
    background-color: #4bb543;
    opacity: 1;
  }

  to {
    background: #fff;
    opacity: 0;
  }
}
