.loader-wrapper {
  align-items: center;
  animation: loading 1.5s linear infinite;
  color: #007ee5;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;

  svg {
    height: 100%;
    width: 100%;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
