button {
  background: #EDF2F4;
  border: 1px solid rgba(43, 45, 66, 0.1);
  border-radius: 3px;
  font-size: 0.9rem;  
  cursor: pointer;
  outline: none;
  margin: 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  .label {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-bottom: 0 !important;
  }
  &.default {
    padding: 0.5rem 0.5rem;
    background: radial-gradient(ellipse at center, rgba(237,242,244,1) 0%, rgba(141,153,174,0.2) 100%);
    .label {
      color: #2B2D42;
      font-size: 1rem;
    }
  }
  &.rounded {
    border-radius: 5px;
    background: radial-gradient(ellipse at center, rgba(237,242,244,1) 0%, rgba(141,153,174,0.2) 100%);
    padding: 0.4rem;
    .label {
      color: #2B2D42;
      font-size: 1rem;
      font-weight: 600;
    }
  }
  &.link {
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    border: none;
    background: none;
    .label {
      color: #007ee5;
      font-size: 0.75rem;
    }
    &.large {
      i {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
    i {
      width: 1.5rem;
      height: 1.5rem;
      img {
        object-fit: contain;
        object-position: 50% 50%;
        height: 100%;
        width: 100%;
      }
    }
  }
  &.disabled {
    padding: 0.5rem 0.5rem;
    background: #ccc;
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.5);
    cursor: auto;
    .label {
      color: #fff;
      font-size: 1rem;
    }
  }
  &.icon {
    // padding: 0.1rem;
    margin: 0;
    background: transparent;
    border: none;
    i {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0rem;
    }
    &.large {
      border: none;
      i {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    &.medium {
      border: none;
      i {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &.large {
    .label {
      font-size: 1rem;
    }
  }
  &.danger {
    padding: 0.5rem 0.75rem;
    background: #cb2431;
    color: #fff;
    border: 2px solid #cb2431;
    .label {
      color: #fff;
    }
  }
  i {
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
  }
}
