.textbox-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  justify-content: center;
  padding: 0.25rem 0;
  width: 100%;
  
  label {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
}

input {
  background: #e7e7e7;
  border: 0;
  border-radius: 0.25rem;
  color: #2b2d42;
  font-size: 0.85rem;
  height: 1.75rem;
  outline: none;
  padding: 0.2rem;
  padding-left: 0.5rem;
  width: 100%;

  &::placeholder {
    color: #000;
    font-size: 0.85rem;
  }
}
