.dashboard-wrapper {
  margin: 0 auto;
  height: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 0px 40px auto;
  grid-template-columns: 100%;
  position: relative;
  @media (min-width: 1281px) {
    grid-template-rows: 80px auto auto;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    grid-template-rows: 65px auto auto;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-rows: 260px auto;
  }
  @media only screen and (max-width: 992px) {
      grid-template-rows: 250px auto;
    }
  @media (min-width: 481px) and (max-width: 767px) {
    // border: 1px solid red;
    grid-template-rows: 250px 50px auto;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    // border: 1px solid blue;
    grid-template-rows: 280px 50px auto;
  }
  grid-gap: 1rem;
}
.explorer-wrapper {
  width: 100%;
}
.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;

}
.explorer-controls {
  width: 100%;
  display: flex;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}
.toolbar-container {
  justify-self: center;
  align-self: center;
  width: 100%;
  padding: 2rem 0.75rem 1rem;
  // background: rgba(43, 45, 66, 0.1);
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.peek-enter-active,
.peek-leave-active {
  opacity: 1;
  transition: all 0.25s;
  transform: scale(1);
}
.peek-enter,
.peek-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.folder-path-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  /* border: 1px solid red; */
}
.explorer-main {
  align-self: flex-start;
  padding: 0 0.5rem;
}
