.dashboard-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  position: relative;
  width: 95%;

  @media (min-width: 1281px) {
    width: 1200px;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    width: 1200px;
  }
  @media (min-width: 1400px) {
    width: 1200px;
  }
  @media only screen and (min-width: 1824px) {
    width: 1650px;
  }
}

.explorer-wrapper {
  width: 100%;
}

.modal-area {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.explorer-controls {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  width: 100%;
}

.toolbar-container {
  align-self: center;
  justify-self: center;
  padding: 2rem 0.75rem 1rem;
  width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transition: all 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.peek-enter-active,
.peek-leave-active {
  opacity: 1;
  right: 1rem;
  transition: all 0.25s;
}

.peek-enter,
.peek-leave-to {
  opacity: 0;
  right: -10rem;
}

.folder-path-container {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  /* border: 1px solid red; */
}

.explorer-main {
  align-self: flex-start;
  height: 0;
  margin-top: 3rem;
  min-height: 750px;
  padding: 0 0.5rem;
  width: 100%;
}
