.stage-one-wrapper {
  width: 100%;
}

.move-copy-container {
  width: 100%;
}

.stage-one-header {
  margin: 1rem 0;
  text-align: left;
  width: 100%;

  span {
    font-size: 1rem;
    font-weight: 700;
  }
}

.stage1-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 95%;

  button {
    &:last-child {
      margin-left: 1rem;
    }
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

.move-copy-selection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 5rem;

  label {
    align-items: center;
    background: #fff;
    border-radius: .1rem;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 1rem 0.75rem;
    width: 90%;

    &:hover {
      background: #f2f2f2;
    }

    &.selected {
      background: #efefef;
      border-radius: 0.3rem;
      color: #007ee5;
    }

    span {
      display: block;
      margin-left: 0.5rem;
      margin-right: auto;
    }

    i {
      align-items: center;
      display: flex;
      height: 1.75rem;
      justify-content: center;
      width: 1.75rem;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  input[type='radio'] {
    display: none;
  }
}
