.stage2-container {
  width: 95%;
}

header {
  width: 100%;
  
  span {
    display: block;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0.25rem 0;
    padding-left: 0.5rem;
    text-align: left;
    width: 100%;
  }
}

.stage3-explorer-wrapper {
  border: 1px solid #cce5f9;
  border-radius: 3px;
  height: 300px;
  margin-top: 1rem;
  overflow: auto;
  overflow: auto;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.stage2-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2rem 0 1rem;

  button {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.stage3-loader-wrapper {
  align-items: center;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin-right: auto;
  position: relative;

  svg {
    height: 100%;
    width: 100%;
  }
}

.summary {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  margin: 1rem 0;

  div {
    margin: 0.25rem 0;
  }

}

.summary-final {
  align-items: center;
  border-radius: 0.1rem;
  color: #191919;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.25rem 0;
  min-height: 4rem;
  
  span {
    background: #e5e5e5;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    text-align: left;
    word-break: break-word;
  }
      
  i {
    color: #000;
    height: 1rem;
    margin: 0 0.5rem;
    width: 1rem;
  
  }
  
  svg {
    height: 100%;
    width: 100%;
  }
}

.error-msg-container {
  color: #d90429;
  font-size: 0.9rem;
  margin-right: auto;
}
