.stage2-container {
  width: 90%;
}

.stage2-explorer-wrapper {
  border: 1px solid #cce5f9;
  border-radius: 3px;
  height: 300px;
  margin-top: 1rem;
  overflow: auto;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.stage2-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem 0;

  button {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  .stage2-loader-wrapper {
    align-self: normal;
    margin-right: auto;
  }
}

.selected-src {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-start;
  margin: 1rem 0;
  min-height: 3rem;
  width: 100%;
  
  .value {
    align-items: center;
    background: #efefef;
    border-radius: 0.1rem;
    color: #007ee5;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: flex-start;
    padding: 0.2rem 0.5rem;
    text-align: left;
    word-break: break-all;
  }
}
