.stage2-container {
  width: 400px;
  .stage2-header {
    width: 100%;
    span {
      width: 100%;
      text-align: left;
      display: block;
      padding-left: 0.5rem;
      margin: 0.5rem 0;
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}
.stage2-explorer-wrapper {
  /* height: 300px; */
  overflow: auto;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  height: 400px;
  overflow: auto;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.stage2-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0 0 0;
  button {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
  .stage2-loader-wrapper {
    margin-right: auto;
    align-self: normal;
  }
}
.selected-src {
  font-size: 0.9rem;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .value {
    margin-top: 0.5rem;
    display: block;
    width: 95%;
    word-break: break-all;
    text-align: left;
    min-height: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #2B2D42;
    // background: #EDF2F4;
    // border: 1px solid rgba(141, 153, 174, 0.5);
    border-radius: 3px;
    padding: 0.1rem 0.5rem;
  }
}
