.toolbar-wrapper {
  display: grid;
  grid-template-rows: 35px;
  grid-template-columns: auto auto;
  padding: 0.5rem 1rem;
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-rows: 30px 70px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    justify-items: center;
    grid-template-rows: 30px 70px;
    grid-gap: 1.5rem;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    justify-items: center;
    grid-template-rows: 30px 70px;
    grid-gap: 1.5rem;
  }
  &:nth-child(2) {
    margin-left: auto;
  }
  .searchbox-container {
    margin-right: auto;
  }
}

.toolbar-buttons {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 120px 130px 140px 400px;
  grid-template-rows: 40px;
  @media (min-width: 481px) and (max-width: 767px) {
    grid-template-columns: 120px 140px 140px;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: 120px 140px 140px;
  }
}
.searchbox-container-mob {
  display: none;
  width: 90%;
  @media (min-width: 481px) and (max-width: 767px) {
    display: block;
    justify-self: left;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    justify-self: left;
    display: block;
  }
}
.searchbox-container-desk {
  display: block;
  @media (min-width: 481px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    display: none;
  }
}

.account-settings-wrapper {
  justify-self: right;
}
