.child-tree-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.child-tree {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1.25rem;
  position: relative;

  &::after {
    background: #b2d8f7;
    content: '';
    display: block;
    height: 100%;
    left: 14px;
    position: absolute;
    top: 0;
    // top: 50%;
    // transform: translateY(-50%);
    width: 1px;
  }
}

.folder {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0.25rem;

  &:focus {
    background: #e5e5e5;
    border-radius: 0.2rem;
    outline: 0;
  }

  i {
    color: #007ee5;
    height: 1.5rem;
    width: 1.5rem;

  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.folder-name {
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 0.25rem;
  text-transform: lowercase;
}
