.child-tree-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.child-tree {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.1rem;
  padding-left: 1rem;
}

.folder {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.2rem;

  &:focus {
    outline: 1px dotted #646675;
    outline-offset: 2px;
  }

  i {
    height: 1.5rem;
    width: 1.5rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.folderImg {
  height: 1.25rem;
  margin-right: 0.5rem;
  width: 1.25rem;
}

i {
  height: 1rem;
  margin-right: 0.5rem;
  width: 1rem;
}
