.child-tree-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.child-tree {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.1rem;
}
.folder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem; 
  cursor: pointer;
  &:focus {
    outline: 1px solid #D90429;
    outline-offset: 2px;
  }
}
.folderImg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
i {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}