.tree {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-family: Nunito, Open Sans;
  font-size: 0.85rem;
  justify-content: flex-start;
  
  .folder-node {
    align-items: flex-start;
    color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
  }

  .file-node {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    font-size: 0.85rem;
    justify-content: center;
    overflow-wrap: break-word;
    padding: 0.25rem;

    .node-text {
      color: #191919;
      font-weight: 300;
      height: 100%;
      max-width: 200px;
      outline: none;
      overflow: hidden;
      padding: 0.25rem;
      text-align: left;
      text-overflow: ellipsis;
      text-transform: lowercase;
      white-space: nowrap;
      width: 100%;

      &.selected {
        background: #efefef;
        border-radius: 2px;
        color: #191919;
      }
    }
  }

  .file-img {
    height: 1.2rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    width: 1.2rem;
  }
}
