.upload-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.upload-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  width: 90%;
}

.intro-message {
  align-items: center;
  color: #cbcbcb;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  height: 14rem;
  justify-content: center;
  
  &:hover {
    background: #f2f2f2;
    color: #ccc;
  }
}

.drop-zone {
  background: #fff;
  border: 2px dashed #ccc;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: Nunito, Open Sans, Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;

  &.drag-over {
    background: #fff;
    border: 2px solid #007ee5;
  }

  &.dropped {
    background: #fff;
    border: 2px solid transparent;
  }
}

.dropped-file {
  align-items: center;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;

  .icon-wrapper {
    height: 2rem;
    margin-right: 0.5rem;
    width: 2rem;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .file-name {
    border: 0;
    color: #191919;
    font-size: 0.85rem;
    font-weight: 400;
    overflow: hidden;
    padding: 0 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
  }

  .file-size {
    font-size: 1rem;
    font-weight: normal;
  }
}

.upload-controls {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding-right: 1.5rem;
  width: 95%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.upload-file-explorer-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.upload-explorer-wrapper {
  border: 1px solid #cce5f9;
  border-radius: 0.1rem;
  height: 12rem;
  margin-top: 1rem;
  overflow: auto;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  width: 98%;
}

.clear-upload {
  left: 0.2rem;
  position: absolute;
  top: 0.25rem;
}

.progress-wrap {
  height: 1rem;
  margin-top: 1rem;
  width: 90%;
}

.upload-path-selection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 0;
  margin-top: 1rem;
  min-height: 1.75rem;
  width: 90%;

  span {
    align-items: center;
    border-radius: 0.1rem;
    border-radius: 0.2rem;
    display: flex;
    font-size: 0.9rem;
    font-weight: 400;
    height: 100%;
    justify-content: flex-start;
    padding: 0 0.5rem;
    word-break: break-word;

    &.highlight {
      background: #007ee5;
      color: #fff;
    }
  }
}

.upload-explorer-header {
  font-family: 'Nunito', 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  text-align: left;
  width: 100%;
}

.ps {
  align-items: center;
  color: #007ee5;
  display: flex;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  justify-content: flex-start;
  margin-right: auto;
  margin-top: 0.25rem;
  min-height: 3rem;
  padding-left: 1.5rem;
  text-align: left;
  width: 100%;

  .ps-subtext {
    margin-left: 0.5rem;
  }
}

.loader-wrapper {
  height: 1.5rem;
  width: 1.5rem;
}

.dropzone-backdrop-icon {
  color: #007ee5;
  height: 4rem;
  width: 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.uploaded-file-attrs {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 95%;

  .upload-success-msg {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
  }
}
