.upload-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload-wrapper {
  padding: 0.5rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .drop-zone {
    width: 100%;
    // background: rgba(0, 126, 229, 0.3);
    background: #EDF2F4;
    // border: 2px dashed rgba(0, 126, 229, 0.5);
    border: 2px dashed #8D99AE;
    border-radius: 4px;
    position: relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    cursor: pointer;
    &::hover {
      background: #8D99AE;
    }
    @media (min-width: 1281px) {
      height: 180px;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      height: 160px;
    }

    @media (min-width: 481px) and (max-width: 767px) {
      height: 180px;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      height: 180px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      height: 180px;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
      height: 200px;
    }
    &.drag-over {
      border: 2px solid #EF233C;
      background: #fff;
    }
    &.dropped {
      border-radius: 4px;
      background: #fff;
      border: 4px solid transparent;
    }
    .dropped-file {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      // background: linear-gradient(135deg, rgba(141,153,174,1) 0%, rgba(237,242,244,1) 100%);
      background: linear-gradient(45deg, rgba(43, 45, 66, 0.35) 0%, rgba(139, 99, 114, 0.5) 100%);
      border: 1px solid rgba(141, 153, 174, 0.1);
      height: 100%;
      border-radius: 4px;
      .icon-wrapper {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
      .file-name {
        font-size: 1rem;
        // color: #2B2D42;
        color: #fff;
        text-shadow: 1px 1px rgba(0,0,0,0.15);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: none;
        width: 90%;
        padding: 0 0.25rem;
      }
      .file-size {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
  .intro-message {
    font-size: 1.25rem;
    color: #8D99AE;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.upload-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0;
  padding-right: 1.5rem;
  button {
    &:last-child {
      margin-left: 1rem;
    }
  }

}
img {
  max-height: 100%;
  max-width: 100%;
}
.upload-file-explorer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.upload-explorer-wrapper {
  width:100%;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;

  @media (min-width: 1281px) {
    height: 170px;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    height: 170px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    height: 150px;
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    height: 150px;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    height: 120px;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    height: 120px;
  }
}
.clear-upload {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.progress-wrap {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.upload-path-selection {
  margin: 0.5rem 0;
  padding: 0.25rem 0.1rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span {
    text-align: left;
    display: block;
    width: 100%;
    display: inline-block;
    padding-left: 1rem;
    max-width: 400px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 3px;
    padding: 0.25rem 0rem;
    padding-left: 0.1rem;
    word-break: break-word;
    &.highlight {
      color: #0080FF;
    }
  }
}
.upload-explorer-header {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  width: 100%;
  text-align: left;
}
.ps {
  font-style: italic;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  margin: 0.25rem;
  text-align: left;
  padding-left: 0.5rem;
  color: #8D99AE;
}
.dropzone-backdrop-icon {
  width: 100%;
  height: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  position: absolute;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.uploaded-file-attrs {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .upload-success-msg {
    margin-top: 1rem;
    font-size: 1rem;
    color: #2B2D42;
  }
}
