.create-folder-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1rem 1rem;
  position: relative;
  width: 90%;
}

.create-folder-explorer-wrapper {
  border: 1px solid #cce5f9;
  border-radius: 0.1rem;
  height: 300px;
  margin: 0 auto;
  margin-top: 1rem;
  overflow-y: auto;
  padding-top: 0.5rem;
  width: 100%;
}

.create-folder-controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 3rem 0 1rem;
  position: relative;
  width: 100%;

  button {
    &:last-child {
      margin-left: 1rem;
    }
  }
}

.selected-path-wrapper {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  font-weight: 700;
  justify-content: flex-start;
  margin-top: 1rem;
  min-height: 1.75rem;

  span {
    display: block;
    text-align: left;
  }

  .selected-path {
    align-items: center;
    background: #cce5f9;
    border-radius: 0.1rem;
    color: #191919;
    display: flex;
    font-size: 0.95rem;
    font-weight: 400;
    height: 100%;
    padding: 0.25rem 0.5rem;
    text-align: left;
    width: 100%;
  }
}

.crt-folder-sec-header {
  font-size: 0.9rem;
}

.error-messages-grp {
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
  width: 100%;
}

.error-message {
  align-items: center;
  color: #cb2431;
  display: block;
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-start;
  margin: 0.25rem;
  margin-right: auto;
  padding: 0.25rem;
  text-align: left;
  width: 100%;
}

.crt-folder-loader-container {
  height: 1.25rem;
  width: 1.25rem;
}

.crt-folder-loader-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  position: relative;
  
  .loader-message {
    color: #007ee5;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    margin-left: 0.5rem;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

.create-folder-inputs {
  width: 15rem;
}
