.create-folder-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.1rem 1rem;
}

.create-folder-explorer-wrapper {
  height: 300px;
  width: 95%;
  overflow-y: auto;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #D8DCDE;
  border-radius: 5px;

  @media (min-width: 1281px) {
    height: 200px;
    padding: 0.5rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    height: 180px;
    padding: 0.5rem;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    height: 160px;
    padding: 0.5rem;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    height: 160px;
    padding: 0.5rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    height: 180px;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    height: 300px;
    padding: 0.5rem;
  }
}
.create-folder-controls {
  padding: 3rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  button {
    &:last-child {
      margin-left: 1rem;
    }
  }
}
.selected-path-wrapper {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  font-size: 0.85rem;
  font-weight: 700;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  span {
    display: block;
    text-align: left;
  }

  .selected-path {
    font-weight: 400;
    margin-top: 0.5rem;
    text-align: left;
    border-radius: 3px;
    min-height: 1.75rem;
    padding-left: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    color: #191919;
    min-height: 35px;
  }
}
.crt-folder-sec-header {
  font-size: 0.9rem;
}
.error-messages-grp {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  margin-top: 0.5rem;
  /* background:red; */
}
.error-message {
  color: #cb2431;
  font-size: 0.9rem;
  margin-right: auto;
  display: block;
  margin: 0.25rem;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.crt-folder-loader-wrapper {
  margin-right: auto;
  position: relative;
  align-self: normal;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.create-folder-inputs {
  width: 100%;
}
