.path-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.path-link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.home {
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    height: 1rem;
    margin-right: 0.25rem;
    width: 1rem;
  }
}

.path-item {
  margin-right: 0.1rem;

  a {
    color: #007ee5;
    text-decoration: none;
  }
}

.disabled {
  color: #000;
  pointer-events: none;
}

.selected {
  .path-value {
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
  }
}

.path-value {
  font-family: Nunito, Open Sans, Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
}

.path {
  align-items: center;
  background: #efefef;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1.3rem;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.path-slash {
  color: #191919;
  height: 1rem;
  width: 1rem;
  transform: rotate(-70deg);

  svg {
    height: 100%;
    width: 100%;
  }
}
